body {
    font-family: 'GongGothicMedium'!important;
    background-color: #D16262!important;
}

.search_btn{
    width: 5%!important;
}

.tag {
    display: inline-block;
}

.match_word {
    color : blue;
}

@font-face {
    font-family: 'GongGothicMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/GongGothicMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}